.a filter=lfs diff=lfs merge=lfs -text
iOS_Develop/Libraries/libiPhone-lib.a filter=lfs diff=lfs merge=lfs -text
TestRoutesAndNavigation/iOS_Develop_Nav/Libraries/libiPhone-lib.a filter=lfs diff=lfs merge=lfs -text
TestRoutesAndNavigation/Test_Navigation/Library/Artifact filter=lfs diff=lfs merge=lfs -text
TestRoutesAndNavigation/Test_Navigation/Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
TestRoutesAndNavigation/ios_test2/Libraries/libiPhone-lib.a filter=lfs diff=lfs merge=lfs -text
TestRoutesAndNavigation/DrivingDemo_SoftwareFair_ios/Libraries/libiPhone-lib.a filter=lfs diff=lfs merge=lfs -text
TestRoutesAndNavigation/SoftwareFairWalk_ios/Libraries/libiPhone-lib.a filter=lfs diff=lfs merge=lfs -text
